
@model IEnumerable<HMS.Domain.Entities.ViewModels.HallBuildingVM>
@{
}
<div class="modal-body">
    <p class="text-dark-25 text-danger" style="text-align:center;opacity:0.5">
        هذا الاجراء نهائي ولا يمكن العودة بعده
    </p>
    <lable>اسم القاعة</lable>
    <input type="text" value="Name" class="form-control" readonly disabled>
    <br>
    <label>رقم القاعة</label>
    <input type="text" value="Number" class="form-control" readonly disabled>
</div>