################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/HMS-ADO.NET-Oracle/FileContentIndex
