################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/HMS-ADO.NET-Oracle/FileContentIndex
.vs/HMS-ADO.NET-Oracle/v17/.suo
.vs/HMS-ADO.NET-Oracle/DesignTimeBuild/.dtbcache.v2
.vs/HMS-ADO.NET-Oracle/v17/.suo
.vs/HMS-ADO.NET-Oracle/v17/.suo
.vs/HMS-ADO.NET-Oracle/DesignTimeBuild/.dtbcache.v2
