@using System.Collections.Generic
@using System.Linq
@model LoginViewModel
@inject SignInManager<SiteUser> SignInManager

@{
    
}

<h2>@ViewData["Title"]</h2>

<div class="row" hegiht="100%" width="100%" style="margin-top:18%">
    <div class="col-md-6" style="height:600px;backdrop-filter:drop-shadow();background-color:#50cd8980;border-radius:20px">
        <section style="margin-top:30%">
            <form asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">
                <center>
                    <h4>نظام حجز القاعات الاإلكتروني</h4>
                </center>
                <hr />
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Email">البريدالاكتروني</label>
                    <br />
                    <br />
                    <input asp-for="Email" class="form-control"  autocomplete="off"/>
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <br />

                <div class="form-group">
                    <label asp-for="Password">كلمة المرور</label>
                    <br />                    <br />

                    <input asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <br />

                <div class="form-group">
                    <button type="submit" class="btn btn-primary" style="width:100%">دخول</button>
                </div>

                <div class="form-group">
                  
                </div>
            </form>
        </section>
    </div>

</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
