@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}



<div class="aside-menu flex-column-fluid">
	<!--begin::Aside Menu-->
	<div class="hover-scroll-overlay-y px-2 my-5 my-lg-5" id="kt_aside_menu_wrapper" data-kt-scroll="true" data-kt-scroll-height="auto" data-kt-scroll-dependencies="{default: '#kt_aside_toolbar, #kt_aside_footer', lg: '#kt_header, #kt_aside_toolbar, #kt_aside_footer'}" data-kt-scroll-wrappers="#kt_aside_menu" data-kt-scroll-offset="5px" style="height:400px">
		<!--begin::Menu-->
		<div class="menu menu-column menu-title-gray-100 menu-state-title-primary menu-state-icon-primary menu-state-bullet-primary menu-arrow-gray-200" id="#kt_aside_menu" data-kt-menu="true">
			<div class="menu-item">
				<div class="menu-content pb-2">
					<span class="menu-section text-muted text-uppercase fs-8 ls-1">Dashboard</span> <br>
					<center>
						<h3>
							<span class="menu-link" style="display:inline">
								<span id='ct' style="display: block;"></span>
							</span>
						</h3>
					</center>
				</div>
			</div>

			<div class="menu-item">
				<a class="menu-link" href="/">
					<span class="menu-icon">
						<!--begin::Svg Icon | path: icons/duotune/communication/com001.svg-->
						<span class="svg-icon svg-icon-2">
							<i class="fa-solid fa-gauge-high fa-beat"></i>
						</span>
						<!--end::Svg Icon-->
					</span>
					<span class="menu-title">الرئيسية</span>
				</a>
			</div>
			@* //////////////////////////////////////////////////// Halls  section //////////////////////////////////////////////////////////////// *@
			<div data-kt-menu-trigger="click" class="menu-item menu-accordion">
				<span class="menu-link">
					<span class="menu-icon">
						<!--begin::Svg Icon | path: icons/duotune/communication/com006.svg-->
						<span class="svg-icon svg-icon-2">
							<i class="fa-solid fa-people-roof fa-beat"></i>
						</span>
						<!--end::Svg Icon-->
					</span>
					<span class="menu-title">القاعات</span>
					<span class="menu-arrow"></span>
				</span>
				<div class="menu-sub menu-sub-accordion menu-active-bg">
					<div class="menu-item">
						<a class="menu-link" href="/Hall/">
							<span class="menu-bullet">
								<span class="bullet bullet-dot"></span>
							</span>
							<span class="menu-title">
								&ensp; القاعات
							</span>
						</a>
					</div>
					@if (User.IsInRole("super_admin"))
					{
						<div class="menu-item">
							<a class="menu-link" href="/Hall/create">
								<span class="menu-bullet">
									<span class="bullet bullet-dot"></span>
								</span>
								<span class="menu-title">
									&ensp;  اضافة قاعة
								</span>
							</a>
						</div>
					}
				</div>
			</div>
			@* //////////////////////////////////////////////////// Reservations  section //////////////////////////////////////////////////////////////// *@
			<div data-kt-menu-trigger="click" class="menu-item menu-accordion">
				<span class="menu-link">
					<span class="menu-icon">
						<!--begin::Svg Icon | path: icons/duotune/communication/com006.svg-->
						<span class="svg-icon svg-icon-2">
							<i class="fa-regular fa-calendar-check fa-beat"></i>
						</span>
						<!--end::Svg Icon-->
					</span>
					<span class="menu-title">الحجوزات</span>
					<span class="menu-arrow"></span>
				</span>
				<div class="menu-sub menu-sub-accordion menu-active-bg">
					<div class="menu-item">
						<a class="menu-link" href="/reservation/">
							<span class="menu-bullet">
								<span class="bullet bullet-dot"></span>
							</span>
							@if (User.IsInRole("super_admin"))
							{
								<span class="menu-title">الحجوزات على النظام</span>
							}
							else
							{
								<span class="menu-title">حجوزاتي</span>
							}
						</a>
					</div>
					<div class="menu-item">
						<a class="menu-link" href="/reservation/create">
							<span class="menu-bullet">
								<span class="bullet bullet-dot"></span>
							</span>
							<span class="menu-title">انشاء حجز قاعة</span>
						</a>
					</div>

				</div>
			</div>
			@* //////////////////////////////////////////////////// Colleges  section //////////////////////////////////////////////////////////////// *@
			<div data-kt-menu-trigger="click" class="menu-item menu-accordion">
				<span class="menu-link">
					<span class="menu-icon">
						<!--begin::Svg Icon | path: icons/duotune/communication/com006.svg-->
						<span class="svg-icon svg-icon-2">
							<i class="fa-solid fa-building-columns fa-beat"></i>
						</span>
						<!--end::Svg Icon-->
					</span>
					<span class="menu-title">الكليات</span>
					<span class="menu-arrow"></span>
				</span>
				<div class="menu-sub menu-sub-accordion menu-active-bg">
					<div class="menu-item">
						<a class="menu-link" href="/collage/">
							<span class="menu-bullet">
								<span class="bullet bullet-dot"></span>
							</span>
							<span class="menu-title">الكليات</span>
						</a>
					</div>
					<div class="menu-item">
						<a class="menu-link" href="/collage/create">
							<span class="menu-bullet">
								<span class="bullet bullet-dot"></span>
							</span>
							<span class="menu-title">انشاء كلية</span>
						</a>
					</div>
				</div>
			</div>
			@* //////////////////////////////////////////////////// building section //////////////////////////////////////////////////////////////// *@
			<div data-kt-menu-trigger="click" class="menu-item menu-accordion">
				<span class="menu-link">
					<span class="menu-icon">
						<!--begin::Svg Icon | path: icons/duotune/communication/com006.svg-->
						<span class="svg-icon svg-icon-2">
							<i class="fa-solid fa-city fa-beat"></i>
						</span>
						<!--end::Svg Icon-->
					</span>
					<span class="menu-title">المباني</span>
					<span class="menu-arrow"></span>
				</span>
				<div class="menu-sub menu-sub-accordion menu-active-bg">
					<div class="menu-item">
						<a class="menu-link" href="/building">
							<span class="menu-bullet">
								<span class="bullet bullet-dot"></span>
							</span>
							<span class="menu-title">المباني</span>
						</a>
					</div>
					<div class="menu-item">
						<a class="menu-link" href="/building/create">
							<span class="menu-bullet">
								<span class="bullet bullet-dot"></span>
							</span>
							<span class="menu-title">اضافة مبنى كلية</span>
						</a>
					</div>
				</div>
			</div>
			@* //////////////////////////////////////////////////// Users  section //////////////////////////////////////////////////////////////// *@
			@if (User.IsInRole("super_admin"))
			{
				<div data-kt-menu-trigger="click" class="menu-item menu-accordion">
					<span class="menu-link">
						<span class="menu-icon">
							<!--begin::Svg Icon | path: icons/duotune/communication/com006.svg-->
							<span class="svg-icon svg-icon-2">
								<i class="fa-solid fa-user fa-beat"></i>
							</span>
							<!--end::Svg Icon-->
						</span>
						<span class="menu-title">المستخدمين</span>
						<span class="menu-arrow"></span>
					</span>

					<div class="menu-sub menu-sub-accordion menu-active-bg">
						<div class="menu-item">
							<a class="menu-link" href="/manage/userlist">
								<span class="menu-bullet">
									<span class="bullet bullet-dot"></span>
								</span>
								<span class="menu-title">المستخدمين</span>
							</a>
						</div>
						<div class="menu-item">
							<a class="menu-link" href="/account/Register">
								<span class="menu-bullet">
									<span class="bullet bullet-dot"></span>
								</span>
								<span class="menu-title">اضافة مستخدم</span>
							</a>
						</div>
					</div>
				</div>
				<div data-kt-menu-trigger="click" class="menu-item menu-accordion">
					<span class="menu-link">
						<span class="menu-icon">
							<span class="svg-icon svg-icon-2">
								<i class="fa-solid fa-toolbox fa-beat"></i>
							</span>
							<!--end::Svg Icon-->
						</span>
						<span class="menu-title">الأدوار والصلاحيات</span>
						<span class="menu-arrow"></span>
					</span>
					<div class="menu-sub menu-sub-accordion menu-active-bg">
						<div class="menu-item">
							<a class="menu-link" href="/role">
								<span class="menu-bullet">
									<span class="bullet bullet-dot"></span>
								</span>
								<span class="menu-title">الصلاحيات</span>
							</a>
						</div>
					</div>
					<div class="menu-sub menu-sub-accordion menu-active-bg">
						<div class="menu-item">
							<a class="menu-link" href="/role/Create">
								<span class="menu-bullet">
									<span class="bullet bullet-dot"></span>
								</span>
								<span class="menu-title">إنشاء دور جديد</span>
							</a>
						</div>
					</div>
				</div>
			}
		</div>
		<!--end::Menu-->
	</div>
	<!--end::Aside Menu-->
</div>
