@{
    ViewBag.Title = "Home Page";
    Layout = "custom";
}
<table id="data" class="table table-bordered">
    <thead>
        <tr>
            <th>Name</th>
            <th>date</th>
            <th>Time_start</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>
<script>
    debugger;
    GetDataTableData();
    function GetDataTableData() {
        $("#data").DataTable({
            "processing": true,
            "serverSide": true,
            "filter": true,
            "orderMulti": false,
            "destroy": true,
            "ordering": true,
            "ajax": {
                "url": '/Reservation/GetDetails',
                "type": "POST",
                "datatype": "json"
            },

            "columns": [
                {
                    "data": "Name", "name": "Name", "autoWidth": true,
                    mRender: function (data, type, full) {
                        var id = data;
                        return "<p style='background-color:#090;color: white;text-align: center;'>" + id + "</p>";
                    }
                }
                , { "data": "date", "name": "date", "autoWidth": true }
                , { "data": "Time_start", "name": "Time_start", "autoWidth": true }
                , { "data": "date", "name": "date", "autoWidth": true }
            ]
        });
    }
</script>
